


{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="policy__content">
      <div class="policy__heading"><h1>Disclaimer</h1></div>
      <div class="policy__info">
        This Disclaimer explanation applies to www.gopillz.com website and
        mobile apps and represents information accumulation and usage for the
        reasons for this statement, unless generally noted, This disclaimer
        needs to underscore completely that GoPillz is an adherence to treatment
        services platform does not provide diagnostics, therapeutic guidance or
        treatment. Integrated support is meant to bolster the doctor-patient,
        caregiver-patient relationship and not supplant it. All rights reserved,
        GoPillz logo is trademarks of AMN Tech and Networking LLP furthermore,
        may not be utilized without composed consent. GoPillz does not supplant
        the essential consideration of doctors and does not ensure that a
        solution will be composed. GoPillz works are subject to state direction
        and may not be accessible in certain states. GoPillz does not endorse
        DEA-controlled substances, non-helpful medications and certain different
        medications which might be hurtful in view of their potential for
        misuse. GoPillz maintains all authority to deny intent to potential
        abuse of administrations
      </div>
       <div class="policy__subscriber">
      <div  class="policy__heading">
          Subscribe for Health Benefits
      </div>
      <p>
        GoPillz offers a variety of plans to meet your needs. <br />
        There are great discounts available for annual payments as well.
      </p>
      <div class="margin__btm">
        <button
          onclick="payment()"
          type="button"
          class="btn btn-primary subscribe__btn"

        >
          Subscribe
        </button>
      </div>
    </div>
    </div>
    </div>
<script>
  function payment(){
    window.location.assign('/payment')
  }
</script>

{% endblock content %}