{% extends "base.html" %}
{% load static %}
{% block content %}
    <style>
      @viewport{
        zoom: 1.0;
        width: extend-to-zoom;
      }

      @-ms-viewport{
        width: extend-to-zoom;
        zoom: 1.0;
      }

      * {
        box-sizing: border-box;
      }

      .col-md-1{
        padding: 0;
      }
      .columns {
        float: left;
        width: 33.3%;
        padding: 8px;
      }

      .price {
        list-style-type: none;
        border: 1px solid #eee;
        margin: 0;
        padding: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }

      .price:hover {
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
      }

      .price .header {
        background-color: #111;
        color: white;
        font-size: 25px;
      }

      .price li {
        /* border-bottom: 1px solid #eee; */
        padding: 20px;
        text-align: center;
      }

      .price .grey {
        background-color: #eee;
        font-size: 20px;
      }

      .button {
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
      }

      @media only screen and (max-width: 600px) {
        .columns {
          width: 100%;
        }
      }
      </style>

  {% include 'messages.html' %}
<div class="main__container">

    <div class="row" style="padding-bottom: 100px">
      <div class="col-md-6">
        <div class="row">
          <div class="row" style="padding-bottom: 50px; padding-top: 50px">
            <div class="col-md-9" style="font-size: xx-large; color: #1e2751">
              <b>We Propose <br />NEVER MISS A DOSE!</b>
            </div>
            <div class="col-md-1"><img src="/static/assets/images/pills.png"></div>
          </div>
          <div class="row">
            <div class="col-md-9" style="padding-bottom: 50px">
              Missing a pill can often take you 10 steps backward in your
              wellness journey Sometimes it causes your health problem to come
              back
            </div>
          </div>
          <div class="row" style="padding-bottom: 20px">
            <div class="col-md-9">
              GoPillz sends you reminders to help you take your medicines on
              time
            </div>
          </div>
          {% csrf_token %}
          {% if not user.is_authenticated %}
          <div class="row">
            <div class="col-md-3">
              <button
                type="button"
                class="btn btn-primary btn-lg"
                style="background-color: #2242d5;font-size: 12px;"
                onclick="signupview()"
              >
                Get Started
              </button>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="col-md-6" style="text-align:end">
        <img src="/static/assets/images/banner_image.png" style="width: 516px; height: 518px" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="row" style="padding-bottom: 20px">
          <div class="col-md-3" style="color: #1e2751">Why choose us?</div>
        </div>
        <div class="row" style="padding-bottom: 50px">
          <h1 style="color: #1e2751">Benefits</h1>
        </div>
        <div class="row">
          <div class="col-md-8">
            <p>
              All that we need is a little nudge in our Super Busy Schedule
              sometimes to remind us that we need to take our pillz today so
              that we remain healthy, happy and fit forever <img src="/static/assets/images/heart_emoji.png">
            </p>
          </div>
        </div>
      </div>
      <div
        class="col-md-3"
        style="
          padding-left: 10px;
          padding-right: 10px;
          border: 1px solid black;
          padding-top: 20px;
          padding-bottom: 30px;
          background-color: #2242d5;
          color: white;
          margin-bottom: 120px;
          margin-top: 120px;
        "
      >
        <div class="row" style="margin-bottom: 20px;">
          <div class="col-md-6" style="margin-top: 70px;">
            <img src="/static/assets/images/bell.png">
          </div>
          <div class="col-md-6">
            <img src="/static/assets/images/blue_till_pill.png" style=" margin-left: 100px;top:0px; right: 0px;">
          </div>
        </div>
        <div class="row"><h3>GoPillz Digital Angels</h3></div>
        <div
          class="row"
          style="padding-top: 20px; padding-left: 10px; padding-right: 10px"
        >
          A trusted emphatic companion helps you and your loved ones feel
          supported and encouraged to start and maintain treatment. The process
          is not a one time but it is maintaining that connection via the
          digital connection that helps improve health.
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div
            class="row"
            style="
              padding-left: 10px;
              padding-right: 10px;
              margin-left: 20px;
              border: 1px solid black;
              padding-top: 20px;
              padding-bottom: 30px;
              margin-bottom: 30px;
            "
          >
          <div class="row" style="margin-bottom: 20px;">
          <div class="col-md-6" style="margin-top: 50px;">
            <img src="/static/assets/images/pharma.png">
          </div>
          <div class="col-md-6">
            <img src="/static/assets/images/tile_2.png" style=" margin-left: 100px;top:0px; right: 0px;">
          </div>
        </div>
            <h3>Pharmacy & Care Provider Connects</h3>
            <div class="row" style="padding-top: 20px ; padding-bottom: 10px;">
              Help with refills, easy caregiver connects when required.
            </div>
          </div>
          <div
            class="row"
            style="
              background-color: orange;
              margin-left: 20px;
              border: 1px solid black;
              color: white;
              padding-top: 20px;
              padding-bottom: 30px;
              padding-left: 10px;
              padding-right: 10px;
            "
          >
          <div class="row" style="margin-bottom: 20px;">
          <div class="col-md-6" style="margin-top: 50px;">
            <img src="/static/assets/images/heartbeat.png">
          </div>
          <div class="col-md-6">
            <img src="/static/assets/images/tile_3.png" style=" margin-left: 100px;top:0px; right: 0px;">
          </div>
        </div>
            <h3>Family & Friends Loop</h3>
            <div class="row" style="padding-top: 20px; padding-bottom: 10px;">
              Stay up to date on your loved ones medical condition.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row"
      style="
        text-align: center;
        padding-top: 100px;
        color: #1e2751;
        background-color: #f6f6f6;
      "
    >
      <div style="margin-bottom: 10px">
        <h2>Subscribe for Health Benefits</h2>
      </div>
      <div id="pricingplans"></div>
      <div style="margin-bottom: 20px">
        Best pricing for you on
        <span style="color: #2242d5">GoPillz Health Plus Plans</span>
      </div>
      <div>
        GoPillz offers a variety of plans to meet your needs. There are great
        discounts available for annual payments as well
      </div>
      <div style="color: #1e2751; margin-top: 20px; margin-bottom: 20px">
        Additional 20% off yearly
      </div>
      <div
        class="btn-group"
        role="group"
        aria-label="Basic radio toggle button group"
      >
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio1"
          autocomplete="off"
          checked
        />
        <label class="btn btn-outline-primary" for="btnradio1">monthly</label>
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio2"
          autocomplete="off"
        />
        <label class="btn btn-outline-primary" for="btnradio2" onclick="GetYearly()"
          >yearly</label
        >
      </div>

      </div>
        <div class="row" style="margin-left: 0px  ; margin-right: 0px ; margin-top: 50px; background-color: #ffffff;">
          <!-- <div class="col-md-4">
            Single<br>
            <span style="padding-top: 70px;">Monthly Cost</span>
          </div>
          <div class="col-md-4">
            Couple<br>
            <span style="margin-top: 50px;">Monthly Cost</span>

          </div>
          <div class="col-md-4" style="text-align: center ;">
            Family<br>
            <span style="padding-top: 500px;">Monthly Cost</span>
          </div> -->

          <div class="columns">
            <ul class="price">
              <li class="header" style="background-color:white; color: #1E2751">Single</li>
              <li ><span style="font-size: small;">Monthly cost</span><br>
                <span style =" color: #2242d5; font-size: xx-large;">&#x20b9; 599.00</span></li>
              <li><a href="/payment?val=monthly" class="button" style="background-color: #2242d5 ;">Subscribe</a></li>
              <li>Whatsapp/ Telephonic</li>
              <li>Medicine Reminders</li>
              <li>Missed Dose Alerts</li>

            </ul>
          </div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:white; color: #1E2751">Couple</li>
    <li ><span style="font-size: small;">Monthly cost</span><br>
      <span style =" color: #2242d5; font-size: xx-large;">&#x20b9; 1099.00</span></li>
    <li><a href="/payment?val=monthly" class="button" style="background-color: #2242d5 ;">Subscribe</a></li>
    <li>Whatsapp/ Telephonic</li>
    <li>Medicine Reminders</li>
    <li>Missed Dose Alerts</li>

  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:white; color: #1E2751">Family</li>
    <li ><span style="font-size: small;">Monthly cost</span><br>
      <span style =" color: #2242d5; font-size: xx-large;">&#x20b9; 2199.00</span></li>
    <li><a href="/payment?val=monthly" class="button" style="background-color: #2242d5 ;">Subscribe</a></li>
    <li>Whatsapp/ Telephonic</li>
    <li>Medicine Reminders</li>
    <li>Missed Dose Alerts</li>

  </ul>
</div>

        </div>

    <div id="contactus"></div>
  <div class="row" style="margin-top: 100px; margin-bottom: 50px;">
    <div class="col-md-6">
      <img src="/static/assets/images/img_with_bg.png" style="width: 540px; height: 772px;">
    </div>
    <div class="col-md-6">
      <div class="row" style="color: #1E2751;">
        <h1>Contact Us</h1>
      </div>
      <div class="row" style="margin-top: 50px;">
        <p>Not just families but doctors, hospitals, care providers, pharma medical insurers are too able to offer better care with GoPillz.</p> <br>
        <p style="margin-top: 10px;">Write to us on <a href="mailto:go@gopillz.com">go@gopillz.com</a> to learn more.</p>
      </div>

      <div class="row">
        <div class="col-md-6">
        <form class="contactform">
        <div class="form-group" style="margin-bottom: 20px">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" placeholder="Enter First Name">
          </div>
          <div class="form-group"  style="margin-bottom: 20px">
            <label for="InputEmail">Email address</label>
            <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
        </form>
        </div>
        <div class="col-md-6">
        <form class="contactform">
          <div class="form-group" style="margin-bottom: 20px">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" required>
          </div>
          <div class="form-group" style="margin-bottom: 20px">
            <label for="phone" >Phone Number</label>
            <input type="number" class="form-control" id="phone" placeholder="Enter phone number" required>
          </div>
        </form>
        </div>
      </div>
      <div class="row">
        <form class="contactform">
        <div class="form-group" style="margin-bottom: 20px">
            <label for="message">Message</label>
            <textarea id ="userMessage" rows="6" style="width:100%" name="message"> Write your message...</textarea>
          </div>
        <input type="button" onclick="SubmitInfo()" value="Send Message" style="width: 100%; height: 50px; color:#ffffff; border:none ;background-color:#2242D5">
        </form>
      </div>
    </div>
  </div>
</div>
    <script>
    function signupview(){
      window.location.assign("/signup")
    }
    function GetYearly(value){
    window.location.assign("/home_yearly#pricingplans")
    }
    function SubmitInfo(){
      email = document.getElementById('InputEmail').value
      first_name = document.getElementById('fname').value
      last_name = document.getElementById('lname').value
      phone_no = document.getElementById('phone').value
      message = document.getElementById('userMessage').value
      console.log(email)
      data = JSON.stringify({ "email":email ,"first_name":first_name,
      "last_name":last_name,"phone_no":'+91'+phone_no,"message":message
      })
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      $.ajax({
          type: 'POST',
          url:'/contact_us',
          processData: false,
          headers: {
                'X-CSRFToken': csrftoken,
                "Content-Type": "application/json"
            },
          data:data,
          dataType: 'json',
          success: function(data){
              window.location.href = '/home#contactus'
          },
          error: function(){
              window.location.href= '/home#contactus'
          },
      });
    }
  </script>
{% endblock content %}
