


{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
   <div class="policy__content">
        <div class="policy__heading"><h1>Refund Policy</h1></div>
        <div class="policy__info">
          Our focus is complete customer satisfaction. Subscription Plans are
          refundable upon cancellation, up to 15 days post purchase via
          purchased via GoPillz.com and GoPillz mobile application. Credits will
          be made within 10 working days post deduction of banking, payment
          gateway charges.
        </div>
     <div class="policy__subscriber">
       <div  class="policy__heading">
        Subscribe for Health Benefits
      </div>
      <p>
        GoPillz offers a variety of plans to meet your needs. <br />
        There are great discounts available for annual payments as well.
      </p>
     <div class="margin__btm">
        <button
          onclick="payment()"
          type="button"
          class="btn btn-primary subscribe__btn"
         >
          Subscribe
        </button>
      </div>
         </div>
    </div>
    </div>
</div>

<script>
  function payment(){
    window.location.assign('/payment')
  }
</script>

{% endblock content %}