


{% extends "base.html" %}
{% load static %}
{% block content %}
      <div class="row" style="margin:2rem 4rem">
        <div class="refundpolicytitle">
          <h1 style="color: #1e2751;font-size:48px;fomt-weight:500">Refund Policy</h1>
        </div>
        <div class="info" style="padding: 25px;box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);">
          Our focus is complete customer satisfaction. Subscription Plans are
          refundable upon cancellation, up to 15 days post purchase via
          purchased via GoPillz.com and GoPillz mobile application. Credits will
          be made within 10 working days post deduction of banking, payment
          gateway charges.
        </div>
     <div

      style="
        text-align: center;
        background-color: #dee3f9;margin-top:20px

      "
    >
      <div
        class="sub"
        style="
          color: #1e2751;
          font-size: xx-large;
          margin-bottom: 30px;
          margin-top: 30px;
        "
      >
        <b>Subscribe for Health Benefits</b>
      </div>
      <div class="sub" style="font-size: large; margin-bottom: 30px">
        GoPillz offers a variety of plans to meet your needs. <br />
        There are great discounts available for annual payments as well.
      </div>
      <div class="sub" style="margin-bottom: 30px">
        <button
          onclick="payment()"
          type="button"
          class="btn btn-primary"
          style="background-color: #2242d5; width: 20%"
        >
          Subscribe
        </button>
      </div>
    </div>
    </div>
<script>
  function payment(){
    window.location.assign('/payment')
  }
</script>

{% endblock content %}