{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container signup__container mb-2">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-5 mt-1 py-2 text-center" style="background-color: #cdd6ff">
        <img src="/static/assets/images/signup_angel.svg" class="sign__up__img">
      </div>
      <div class="col-md-6 mt-1 signup__right__container">
        <div class="d-flex justify-content-between">
              <a href="/home"><img src="/static/assets/images/arrow-left.svg" height="30" width="30"></a>
              <a href="/home"><img src="/static/assets/images/x.svg" height="30" width="30"></a>
        </div>
        <div class="m-auto text-center">
          <h1 class="welcome__heading">
            Welcome to GoPillz!
          </h1>
          <h3 class="signup__sub__heading">Sign In</h3>
          {% include 'messages.html' %}
          <div class="loader" style="display:None" id="screen-loader"></div>
          <p>
            To get your daily medicine reminders with GoPillz digital angels.
          </p>
          <div class="inputno">
            <form id="signupform" action='/signup'  method="post">
              {% csrf_token %}
              <input type="tel" id="phone" name="phone" placeholder="Phone Number (+91-9*********)" class="phone__no__field" pattern="[0-9]{10}" required>
              <input type="submit" value="Send OTP" class="otp__submit__btn"/>
            </form>
          </div>
          <div class="footnote">
            New Member?
            <a href="/signup" style="text-decoration: none">
              <span style="color: #2242d5">Signup</span>
            </a>
          </div>
        </div>
      </div>
  </div>
  </div>



    <script>
      function validateFormOnSubmit(data){
        document.getElementById('screen-loader').style.display = "block";
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        var data = $('#signupform').serialize();
         $.ajax({
          type: 'POST',
          url:'/signup',
          processData: false,
          headers:{
          'X-CSRFToken': csrftoken,
          'contentType': 'application/json',
          },
          data:data,
          dataType: 'json',
          success: function(data){
              window.location.reload()
              $('.loader').css('display','none')
          },
          error: function(){
              window.location.reload()
              $('.loader').css('display','none')
          },
      });
      $('.loader').css('display','none')
      }
    </script>

   {% endblock content %}