{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    .renew-subscription-container{
      margin: 7% 7% 7% 7%;
   }
   a {
       color: #1e2751;
        text-decoration: none;
      }
            .planinfo{
        border-bottom: 1px solid lightgray ;
        padding: 3% 3%;
      }
</style>
{% include 'messages.html' %}
<div class="renew-subscription-container">
    <div class="row">
        <div class="col-md-5" style="background-color: #CDD6FF;">
        <div class="row">
            <div class="crossoption" style="margin-top: 13% ;">
                <a href="/home"><img src="/static/assets/images/x.svg" align="right"></a>
            </div>
        </div>
            <div class="row" style="background-color: white; margin: 5% 5%">
            <div class="planinfo">

              Summary<span class="main_text" style="float:right;font-size:13px;color:blue;"> Active Plan</span>
            </div>
            <div class="planinfo">
              Plan Type<span style="float: right;font-size:13px;color:blue;">{{content.plan_type}}</span>
            </div>
            <div class="planinfo">
              Total<span style="float: right;font-size:13px;color:blue;">{{content.price}}</span>
            </div>

            </div>
            <div class="row">
              <img src="/static/assets/images/payment_angel.svg" class="center-image" style="height: 550px;width: 550px;">
            </div>
        </div>
        <div class="col-md-5  " style="margin: 5% 5%">
            <div class="backoption" style="margin-bottom: 5%">
              <a href="/home"><img src="/static/assets/images/arrow-left.svg" ></a>
            </div>
          <div class="chooseplan" >
            <span style="color:#1E2751;">Current Plan</span><a href="renew-subscription?upgrade=True" style="margin-left: 65%;color:#2242D5">Upgrade Plan</a>
          </div>
          <div class="chooseplan" style="border: 2px solid #2242D5 ; width:100%; margin-bottom:10%">
          <div style="margin-left: 2%; margin-top: 2%">
              {{content.plan_type}}
          </div>
          <div style="margin-left: 2%; margin-bottom: 2%">
            <span style="color:#2242D5">&#x20b9;{{content.price}}/</span><span style="color:#949494">{{content.duration}}</span>
          </div>
          </div>
          <div class="paymenttitle" style="color: #1E2751; border-bottom: 1px solid lightgrey; padding-bottom:5%; margin-bottom:2%">
            Payment Method
          </div>
          <div class="paymentoption" style="color: #1E2751; border: 1px solid lightgrey; padding:5% 5%;margin-bottom:2%">
          <img src="/static/assets/images/paytm.svg" style="margin-right: 2%;">PayTM
            <input type="radio" name="payment1" style="margin-left: 70%; transform: scale(2)">
          </div>
          <div class="paymentoption" style="color: #1E2751; border: 1px solid lightgrey; padding:5% 5%; display: grid;
              margin-bottom: 2%;
              grid-template-columns: 90% 10%;">
          <div><img src="/static/assets/images/razorpay.svg" style="margin-right: 2%;">Rayzor Pay</div>
            <input type="radio" name="payment1" style=" transform: scale(2);margin:5px 0 0 27px">
          </div>
          <div class="paymentoption" style="color: #1E2751; border: 1px solid lightgrey; padding:5% 5%;display: grid;
              margin-bottom: 2%;
              grid-template-columns: 90% 10%;">
         <div > <img src="/static/assets/images/stripe.svg" style="margin-right: 2%;">Stripe</div>
            <input type="radio" name="payment1" style="margin:5px 0 0 27px; transform: scale(2)">
          </div>
          <div class="paymentoption" style="color: #1E2751; border: 1px solid lightgrey; padding:5% 5%;margin-bottom:2%">
          <img src="/static/assets/images/upi.svg" style="margin-right: 2%;">UPI
            <input type="radio" name="payment1" style="margin-left: 76%; transform: scale(2)">
          </div>
          <div class="discountoption" style="color: #2242D5 ; margin-bottom: 10%">
            Have a discount code?
          </div>
          <button onclick="proceed()" type="button" class="block" style="color: white; background-color:#2242D5; width:100%; height: 50px; border: none">Proceed To Pay</button>



          </div>

</div>
    </div>

</div>
    <script>
        function proceed(){
            window.location.assign('/proceed')
        }
    </script>

{% endblock content %}
