{% extends "base.html" %}
{% load static %}
{% block content %}
      <style>
      .loader{
          position: fixed;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          z-index: 9999;
          background: url('/static/assets/gif/screen_loader.gif')
                      50% 50% no-repeat rgb(249,249,249);
          opacity: 0.7
        }
    </style>
    <div class="row" style="margin: 1rem 2.5rem">
      <div class="col-md-6" style="background-color: #cdd6ff">
        <img src="/static/assets/images/signup_angel.svg" class="center-image" />
      </div>

      <div class="col-md-6" style="text-align: center">
        <div class="row">
          <div class="col-md-6">
            <div class="backoption" style="margin-bottom: 5%">
              <a href="/home"
                ><img src="/static/assets/images/arrow-left.svg" align="left"
              /></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="crossoption" style="margin-bottom: 5%">
              <a href="/home"
                ><img src="/static/assets/images/x.svg" align="right"
              /></a>
            </div>
          </div>
        </div>
        <div
          class="header1"
          style="
            font-size: xxx-large;
            color: #1e2751;
            text-align: center;
            margin-top: 5%;
          "
        >
          <b>Welcome to GoPillz!</b>
        </div>
        <div
          class="header2"
          style="
            font-size: xx-large;
            color: #1e2751;
            text-align: center;
            margin-top: 10%;
          "
        >
          Sign Up
        </div>
        {% include 'messages.html' %}
        <div class="loader" style="display:None" id="screen-loader"></div>
        <div class="info" style="margin-top: 5%">
          To get your daily medicine reminders with GoPillz digital angels.
        </div>
        <div class="inputno">
          <form id="signupform" action='/signup'  method="post">
            {% csrf_token %}
            <input
              type="tel"
              id="phone"
              name="phone"
              placeholder="Phone Number (+91-9*********)"
              pattern="[0-9]{10}"
              style="width: 50%; height: 50px; margin-top: 5%" required>
            <input
              type="submit"
              value="Send OTP"
              style="
                background-color: #2242d5;
                color: white;
                width: 50%;
                height: 50px;
                margin-top: 5%;
                border: none;
              "
            />
          </form>
        </div>
        <div class="footnote" style="margin-top: 5%">
          Already a member?<a href="/signup" style="text-decoration: none">
            <span style="color: #2242d5">Login</span></a
          >
        </div>
      </div>
    </div>



    <script>
      function validateFormOnSubmit(data){
        document.getElementById('screen-loader').style.display = "block";
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        var data = $('#signupform').serialize();
         $.ajax({
          type: 'POST',
          url:'/signup',
          processData: false,
          headers:{
          'X-CSRFToken': csrftoken,
          'contentType': 'application/json',
          },
          data:data,
          dataType: 'json',
          success: function(data){
              window.location.reload()
              $('.loader').css('display','none')
          },
          error: function(){
              window.location.reload()
              $('.loader').css('display','none')
          },
      });
      $('.loader').css('display','none')
      }
    </script>

   {% endblock content %}