{% extends "base.html" %}
{% load static %}
{% block content %}
<!--    <div class="row" style="margin:1rem 2.5rem">-->
<!--      <div class="col-md-6" style="background-color: #cdd6ff">-->
<!--        <img src="/static/assets/images/signup_angel.svg" class="center-image" />-->
<!--      </div>-->

<!--      <div class="col-md-6" style="text-align: center">-->
<!--        <div class="row">-->
<!--          <div class="col-md-6">-->
<!--            <div class="backoption" style="margin-bottom: 5%">-->
<!--              <a href="/signup"-->
<!--                ><img src="/static/assets/images/arrow-left.svg" align="left"-->
<!--              /></a>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6">-->
<!--            <div class="crossoption" style="margin-bottom: 5%">-->
<!--              <a href="/home"-->
<!--                ><img src="/static/assets/images/x.svg" align="right"-->
<!--              /></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div-->
<!--          class="header1"-->
<!--          style="-->
<!--            font-size: xxx-large;-->
<!--            color: #1e2751;-->
<!--            text-align: center;-->
<!--            margin-top: 5%;-->
<!--          "-->
<!--        >-->
<!--          <b>Welcome to GoPillz!</b>-->
<!--        </div>-->
<!--        {% include 'messages.html' %}-->
<!--        <div-->
<!--          class="header2"-->
<!--          style="-->
<!--            font-size: xx-large;-->
<!--            color: #1e2751;-->
<!--            text-align: center;-->
<!--            margin-top: 4%;-->
<!--          "-->
<!--        >-->
<!--          Verifying Number-->
<!--        </div>-->
<!--        <div class="info" style="margin-top: 5%">-->
<!--          We have sent an OTP on your number.-->
<!--          {{ phone_no }}-->
<!--        </div>-->
<!--        <div class="inputOTP">-->
<!--          <form id="otp_verification" action="otp_verification" method="post">-->
<!--            {% csrf_token %}-->
<!--             <input type="hidden" id="phone_no" name="phone_no" value="{{ phone_no }}">-->
<!--            <input-->
<!--              type="text"-->
<!--              id="otp"-->
<!--              name="otp"-->
<!--              placeholder="Enter OTP ******"-->
<!--              pattern="[0-9]{6}"-->
<!--              required-->
<!--              style="width: 50%; height: 50px; margin-top: 5%"-->
<!--            /><br />-->
<!--            <a href="javascript:resentOtp()" style="color: #2242d5; margin-left: 40%">Resend OTP</a-->
<!--            ><br />-->
<!--            <input-->
<!--              type="submit"-->
<!--              value="Verify"-->
<!--              style="-->
<!--                background-color: #2242d5;-->
<!--                color: white;-->
<!--                width: 50%;-->
<!--                height: 50px;-->
<!--                margin-top: 5%;-->
<!--                border: none;-->
<!--              "-->
<!--            />-->
<!--          </form>-->
<!--        </div>-->
<!--        <div class="footnote" style="margin-top: 5%">-->
<!--          Already a member?<a href="/signup" style="text-decoration: none">-->
<!--            <span style="color: #2242d5">Login</span></a-->
<!--          >-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
 <div class="container signup__container mb-2">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-5 mt-1 py-2 text-center" style="background-color: #cdd6ff">
        <img src="/static/assets/images/signup_angel.svg" class="sign__up__img">
      </div>
      <div class="col-md-6 mt-1 signup__right__container">
        <div class="d-flex justify-content-between">
              <a href="/signup"><img src="/static/assets/images/arrow-left.svg" height="30" width="30"></a>
              <a href="/home"><img src="/static/assets/images/x.svg" height="30" width="30"></a>
        </div>
        <div class="m-auto text-center">
          <h1 class="welcome__heading">
            Welcome to GoPillz!
          </h1>
          <h3 class="signup__sub__heading">Verifying Number</h3>
          {% include 'messages.html' %}
          <div class="loader" style="display:None" id="screen-loader"></div>
          <p>
            We have sent an OTP on your number {{ phone_no }}.
          </p>

          <div class="inputOTP">
          <form id="otp_verification" action="otp_verification" method="post">
            {% csrf_token %}
             <input type="hidden" id="phone_no" name="phone_no" value="{{ phone_no }}">
            <input
              type="text"
              id="otp"
              name="otp"
              placeholder="Enter OTP ******"
              pattern="[0-9]{6}"
              required
             class="phone__no__field"
            />
            <div><a href="javascript:resentOtp()" style="color: #2242d5;text-decoration: none;">Resend OTP</a></div>
            <input
              type="submit"  value="Verify" class="otp__submit__btn"  />
          </form>
        </div>
          <div class="footnote">
            Already a member?
            <a href="/signup" style="text-decoration: none">
              <span style="color: #2242d5">Login</span>
            </a>
          </div>
        </div>
      </div>
  </div>
  </div>
    <script>
      function resentOtp(){
       const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
       window.location.reload()
<!--        phone_no = '{{phone_no}}'-->
<!--        data = JSON.stringify({'phone':phone_no})-->
<!--        $.ajax({-->
<!--            type: 'POST',-->
<!--            url:'/signup',-->
<!--            processData: false,-->
<!--            headers:{-->
<!--            'X-CSRFToken': csrftoken,-->
<!--            'contentType': 'application/json',-->
<!--            },-->
<!--            data:data,-->
<!--            dataType: 'json',-->
<!--            success: function(data){-->
<!--            alert("OTP Sent");-->
<!--            },-->
<!--            error: function(){-->
<!--            alert("Cannot Sent OTP");-->
<!--            },-->
<!--        });-->
      }
    </script>
   {% endblock content %}