@font-face {
    font-family: 'Graphik';
    src: url('/static/font/Graphik-Black.woff2') format('woff2'),
        url('../font/Graphik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('/static/font/Graphik-Regular.woff2') format('woff2'),
        url('/static/font/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('/static/font/Graphik-Medium.woff2') format('woff2'),
        url('/static/font/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('/static/font/Graphik-Bold.woff2') format('woff2'),
        url('/static/font/Graphik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('/static/font/Graphik-Light.woff2') format('woff2'),
        url('/static/font/Graphik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('/static/font/Graphik-Semibold.woff2') format('woff2'),
        url('/static/font/Graphik-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik Super';
    src: url('/static/font/Graphik-Super.woff2') format('woff2'),
        url('/static/font/Graphik-Super.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
