@import url(/static/css/font.css);
@import url(/static/css/responsive.css);
@import url(/static/css/signup.css);
@import url(/static/css/footer.css);
@import url(/static/css/radiobutton.css);
@import url(/static/css/medicine_schedule.css);
@import url(/static/css/thank_you.css);
@import url(/static/css/header.css);
@import url(/static/css/howitworks.css);
@import url(/static/css/home.css);

body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Graphik';

}

a{
padding:0;}


.alert{
  margin: 20px auto;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
padding: 10px 15px;
text-align: left;

}
.alert-dismissible .btn-close{
padding:14px
}
