{% extends "base.html" %}
{% load static %}
{% block content %}
    <style>


            .planinfo{

        padding: 3% 3%;
      }
    </style>
   {% include 'messages.html' %}
<div class="renew-subscription-container container">
  <div class="row justify-content-between">
      <div class="col-md-5 mt-2"style="background-color: #CDD6FF;">
        <div class="row">
          <div class="crossoption" style="padding: 0 20px;margin-top: 5%;">
            <a href="/home"><img src="/static/assets/images/x.svg" align="right"/></a>
          </div>
        </div>
        <div class="row" style="border-radius: 8px;background-color: white;margin: 2% 5%;">
          <div class="planinfo"><div style="margin:0 10px;padding-bottom:10px;border-bottom:1px solid #dedede;font-weight:bold">Summary<span class="main_text" style="float:right;font-size:13px;color:#2242D5;font-weight:400"> Chosen Plan</span></div></div>
          <div class="planinfo" id="plan_type"><div style="margin:0 10px;padding-bottom:10px;border-bottom:1px solid #dedede;font-weight:bold">Plan Type: <span style="float:right;font-size:13px;color:#2242D5;font-weight:400" class="main_text"></span></div>
          </div>
            <div class="planinfo" id="total_amount"><div style="margin:0 10px;padding-bottom:10px;font-weight:bold">Total: <span style="float:right;font-size:13px;color:#2242D5;font-weight:400" class="main_text"></span></div>
          </div>
        </div>

        <div class="row">
          <img
            src="/static/assets/images/payment_angel.svg"
            class="center-image" />
        </div>
      </div>
      <div class="col-md-6 mt-2" >
        <div class="backoption" style="margin:18px 0">
          <a href="/home"
            ><img src="/static/assets/images/arrow-left.svg"
          /></a>
        </div>
        <div class="chooseplan">
          <span style="color:#1E2751;font-weight:bold">Choose Plan</span>
          <a style="font-weight:500;float:right;color:#2242D5" href='#' onclick="changePlan('{{content.active_plan}}')">Change Plan</a>
            <input type="hidden" id="planId">
        </div>

        <div class="loader" style="display:None"></div>
        {% for plan in content.plans %}
        {% if content.active_plan ==  plan.duration%}
        <button id='{{content.active_plan}}_{{plan.plan_type}}' onclick="selectArea(this,'{{content.active_plan}}','{{plan.plan_name}}','{{plan.price}}','{{plan.id}}')" style="text-align:left;border: 2px solid #2242D5 ; width:100%; margin-bottom:2%;background-color:#FBFBFB;">
          <div style="margin-left: 2%; margin-top: 2%;font-weight:bold">{{ plan.plan_name }}</div>
          <div style="margin-left: 2%; margin-bottom: 2%;font-weight:500">
            <span style="color: #2242d5">&#x20b9;{{ plan.price }}/</span
            ><span style="color: #949494">{{ plan.duration }}</span>
          </div>
        </button>
        {% else %}
        <button id='{{plan.duration}}_{{plan.plan_type}}' onclick="selectArea(this,'{{content.active_plan}}','{{plan.plan_name}}','{{plan.price}}','{{plan.id}}')" style="border: 2px solid lightgrey; width: 100%;margin-bottom: 2%; text-align: left; display:none;background-color:#FBFBFB;">
          <div style="margin-left: 2%; margin-top: 2%">{{ plan.plan_name }}</div>
          <div style="margin-left: 2%; margin-bottom: 2%">
            <span style="color: #2242d5">&#x20b9;{{ plan.price }}/</span
            ><span style="color: #949494">{{ plan.duration }}</span>
          </div>
        </button>
        {% endif %}
        {% endfor %}
<!--        <button id='plan_couple' onclick="selectArea(this)" style="border: 2px solid lightgrey; width: 100%;margin-bottom: 20px; text-align: left; ">-->
<!--          <div style="margin-left: 2%; margin-top: 2%">Couple</div>-->
<!--          <div style="margin-left: 2%; margin-bottom: 2%">-->
<!--            <span style="color: #2242d5">&#x20b9;10560/</span-->
<!--            ><span style="color: #949494">yearly</span>-->
<!--          </div>-->
<!--        </button>-->
<!--        <button id='plan_single' onclick="selectArea(this)" style="border: 2px solid lightgrey; width: 100%;margin-bottom: 20px; text-align: left;">-->
<!--          <div style="margin-left: 2%; margin-top: 2%">Single</div>-->
<!--          <div style="margin-left: 2%; margin-bottom: 2%">-->
<!--            <span style="color: #2242d5">&#x20b9;5760/</span-->
<!--            ><span style="color: #949494">yearly</span>-->
<!--          </div>-->
<!--        </button>-->
<!--        <button id='plan_family' onclick="selectArea(this)" style="border: 2px solid lightgrey; width: 100%;margin-bottom: 20px; text-align: left;">-->
<!--          <div style="margin-left: 2%; margin-top: 2%">Family & Friends</div>-->
<!--          <div style="margin-left: 2%; margin-bottom: 2%">-->
<!--            <span style="color: #2242d5">&#x20b9;21120/</span-->
<!--            ><span style="color: #949494">yearly</span>-->
<!--          </div>-->
<!--        </button>-->
          <div
            class="paymenttitle"
            style="color: #1E2751; border-bottom: 1px solid lightgrey; padding-bottom:3%; margin-bottom:2%;font-weight:bold">
            Payment Method
          </div>
          <div
            class="paymentoption"
            style="color: #1E2751; border: 1px solid lightgrey; padding:5% 5%;display: grid;
              margin-bottom: 2%;
              grid-template-columns: 90% 10%;"

          >
           <div> <img src="/static/assets/images/paytm.svg"  style="margin-right: 2%;font-weight:500" />Paytm</div>
            <input
                    id="paytm"
              type="radio"
              name="payment"
       style="width:100%;height:1.5rem"
            />
          </div>
          <div
            class="paymentoption"
           style="color: #1E2751; border: 1px solid lightgrey; padding:5% 5%;display: grid;
              margin-bottom: 2%;
              grid-template-columns: 90% 10%;"
          >
           <div>
              <img src="/static/assets/images/razorpay.svg"  style="margin-right: 2%;font-weight:500" />Rayzor
            Pay
           </div>
            <input
                    id="rayzor"
              type="radio"
              name="payment"
             style="width:100%;height:1.5rem"
            />
          </div>
          <div
            class="paymentoption"
           style="color: #1E2751; border: 1px solid lightgrey; padding:5% 5%;display: grid;
              margin-bottom: 2%;
              grid-template-columns: 90% 10%;"
          >
           <div> <img src="/static/assets/images/stripe.svg"  style="margin-right: 2%;font-weight:500" />Stripe</div>
            <input
                    id="stripe"
              type="radio"
              name="payment"
             style="width:100%;height:1.5rem"
            />
          </div>
          <div
            class="paymentoption"
           style="color: #1E2751; border: 1px solid lightgrey; padding:5% 5%;display: grid;
              margin-bottom: 2%;
              grid-template-columns: 90% 10%;"
          >
            <div> <img src="/static/assets/images/upi.svg" style="margin-right: 2%;font-weight:500" />UPI</div>
            <input
                    id="upi"
              type="radio"
              name="payment"
             style="width:100%;height:1.5rem"
            />
          </div>
          <div
            class="discountoption"
            style="color: #2242d5; margin-bottom: 10%"
          >
            Have a discount code?
          </div>
          {% csrf_token %}
          <button
                  id="checkout-button"
            type="button"
            class="block"
            style="
              color: white;
              background-color: #2242d5;
              width: 100%;
              height: 50px;
              border: none;
            "
          >
            Proceed To Pay
          </button>
        </div>
      </div>
</div>


    <script src="https://js.stripe.com/v3/"></script>
<script>
 function changePlan(planDuration){
       console.log(planDuration)
       if (planDuration=='yearly'){
          window.location.assign("/payment?val=monthly")
       }
       else{
        window.location.assign("/payment?val=yearly")
       }
     }
      function selectArea(data,plan,type,price,plan_id){
<!--        loaderClass = document.getElementsByClassName("loader")-->
        $('.loader').css('display','block')
        currentPlan = data.id
        data.style.backgroundColor = "#F8F9FE";
        if (currentPlan!=plan+'_couple'){
          document.getElementById(plan+"_couple").style.backgroundColor = "#FBFBFB";
        }
        if (currentPlan!=plan+'_single'){
          document.getElementById(plan+"_single").style.backgroundColor = "#FBFBFB";
        }
        if (currentPlan!=plan+'_family_friends'){
          document.getElementById(plan+'_family_friends').style.backgroundColor = "#FBFBFB";
        }
        $('#plan_type span.main_text').text(type);
        $('#total_amount span.main_text').text(price);
        $('.loader').css('display','none')
         $('#planId').val(plan_id);
      }

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
        var checkoutButton = document.getElementById("checkout-button");

        checkoutButton.addEventListener("click", function () {
        planType = $('#plan_type span.main_text').text();
        totalAmount = $('#total_amount span.main_text').text();
        plan_id =  document.getElementById("planId").value
        SelectedPaymentOption = null
        if($("#rayzor").prop('checked') == true){
          SelectedPaymentOption = "rayzor"
        }
        if($("#paytm").prop('checked') == true){
          SelectedPaymentOption = "paytm"
        }
        if($("#upi").prop('checked') == true){
          SelectedPaymentOption = "upi"
        }
        if($("#stripe").prop('checked') == true){
          SelectedPaymentOption = "stripe"
        }
        const dataToSend = JSON.stringify({"payment_method": SelectedPaymentOption,
        "id":plan_id
        });
        console.log(SelectedPaymentOption)
          $('.loader').css('display','block')
          fetch("/create-checkout-session", {
            method: "POST",
            body: dataToSend,
            headers: {
                'X-CSRFToken': csrftoken,
                "Content-Type": "application/json"
            }
          })
            .then(function (response) {
            $('.loader').css('display','none')
              return response.json();
            })
            .then(function (session) {
             $('.loader').css('display','none')
              if ('error' in session){
              console.log(session.error)
                window.location.reload()
              $('#messages').load();
              }
              else{
              return stripe.redirectToCheckout({ sessionId: session.id });
              }
            })
            .then(function (result) {
            $('.loader').css('display','none')
              // If redirectToCheckout fails due to a browser or network
              // error, you should display the localized error message to your
              // customer using error.message.
              console.log(result)
              if (result.error) {
                alert(result.error.message);
              }
            })
            .catch(function (error) {
            $('.loader').css('display','none')
             window.location.reload()
              console.error("Error:", error);
            });
        });
</script>
{% endblock content %}