{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<style>

.bootstrap-select{
     border: 1px solid #DFDFDF;
    border-radius: 2px;
   width:100% !important;
}
.bootstrap-select button{
      height: 33px;
    font-size: 14px;
    background: #fff;
}
.bootstrap-select button:hover{
    background: #fff;
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark{
  color: #2242D5;
}
dropdown-menu.show{
  border-radius: 0 !important;
}
.bootstrap-select .dropdown-toggle:focus{
       border: 1px solid #DFDFDF;
    border-radius: 2px;
    outline: none !important;
    box-shadow: none;
}

      .planinfo {
        border-bottom: 1px solid lightgray;
        padding: 3% 3%;
      }
      .loader{
          position: fixed;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          z-index: 9999;
          background: url('/static/assets/gif/screen_loader.gif')
                      50% 50% no-repeat rgb(249,249,249);
          opacity: 0.7
        }
    </style>
  <div class="container">
        <div class="main__container">
        <div class="back__icon">
            <a href="/home"><img src="/static/assets/images/arrow-left.svg"></a>
        </div>
        <div>
            <h1 class="main__heading">Tell Us About Yourself</h1>
            <p class="page__info">For existing users only, please <a href="#">Login</a> and update your prescription
                details</p>
        </div>
        {% include 'messages.html' %}
        <div class="row">
            <div class="loader" style="display:None"></div>
            <div class="col-12 col-lg-7 left__container">
                <div class="form__section">
                    <form id="file-form">
                        {% csrf_token %}
                        <div class="col-12 col-lg-12 mb-3">
                            <label>Upload Prescription <span id="file-uploading"></span></label>
                            <div class="browse__button">
                                <input type="file" id="myfile" onchange ="changeFileStatus(this)" name="myfile" multiple>
                                <p>Drag your files here or click in this area.</p>
                            </div>

                            <span>File type: jpg, svg, png</span>
                        </div>
                    </form>
                        <div class="row">
                            <div class="col-12 col-lg-6 mb-3">
                                <label>Subscriber Name 1</label>
                                <input type="text" id='subscriber1' class="form-control" placeholder="Enter Full Name">
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <label>Subscriber Name 2</label>
                                <input type="text" id='subscriber2' class="form-control" placeholder="Enter Full Name">
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <label>Subscriber Name 3</label>
                                <input type="text" id='subscriber3' class="form-control" placeholder="Enter Full Name">
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <label>Subscriber Name 4</label>
                                <input type="text" id='subscriber4' class="form-control" placeholder="Enter Full Name">
                            </div>
                        </div>
                        <div>
                            <div class="accordion accordion-flush" id="medicineDetailAccordian">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="medicineDetailHeadingOne">
                                        <button class="accordion-button collapsed px-0" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#medicine-flush-collapseOne"
                                            aria-expanded="false" aria-controls="medicine-flush-collapseOne">
                                            Medicine 1
                                        </button>
                                    </h2>
                                    <div id="medicine-flush-collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="medicineDetailHeadingOne"
                                        data-bs-parent="#medicineDetailAccordian">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-lg-6 mb-3">
                                                    <label>Name of Medicine</label>
                                                    <input onchange="updateScheduleTime(this)" id='medicine_name' type="text" class="form-control"
                                                        placeholder="Enter Medicine Name">
                                                </div>
                                                <div class="col-12 col-lg-6 mb-3">
                                                    <label>Medicine Type</label>

                                                    <select id='medicine_type' class="form-select">
                                                        <option value="adhesive">adhesive(s)</option>
                                                        <option value="capsule" selected>capsule(s)</option>
                                                        <option value="cachet">cachet(s)</option>
                                                        <option value="cream">cream(s)</option>
                                                        <option value="dragee">dragee(s)</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 col-lg-6 mb-3">
                                                    <label>Number of Days</label>
                                                    <select id='number_days' class="selectpicker" multiple data-live-search="true">
                                                        <option value="1" selected>Monday</option>
                                                        <option value="2">Tuesday</option>
                                                        <option value="3">Wednesday</option>
                                                        <option value="4">Thursday</option>
                                                        <option value="5">Friday</option>
                                                        <option value="6">Saturday</option>
                                                        <option value="7">Sunday</option>
                                                    </select>
<!--                                                    <select id='select-days' class="selectpicker" multiple data-live-search="true">-->
<!--                                                    <option value="1">One</option>-->
<!--                                                    <option value="2">Two</option>-->
<!--                                                    <option value="3">Three</option>-->
<!--                                                    <option value="4">Four</option>-->
<!--                                                  </select>-->

                                                </div>
                                                <div class="col-12 col-lg-6 mb-3">
                                                    <label>Schedule Time</label>
                                                    <select id='schedule_time' class="form-select">
                                                        <option value="1" selected>Before Breakfast - Simastatin</option>
                                                        <option value="2">After Breakfast - Loratadine</option>
                                                        <option value="3">Before Lunch - Montelukast</option>
                                                        <option value="4">After Lunch - Simvastatin</option>
                                                        <option value="5">Before Dinner - Loratadine</option>
                                                        <option value="6">After Dinner - Loratadine</option>
                                                    </select>
                                                </div>
                                                <div class="col-12 col-lg-6 mb-3">
                                                    <label>Choose the level of engagement you desire</label>
                                                    <select id='engagement' class="form-select">
                                                        <option value="1" selected>Daily - Morning and Evening</option>
                                                        <option value="2">Daily - Morning,Lunch,Evening,Dinner</option>
                                                        <option value="3">As per prescription</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!--                                <div class="accordion-item">-->
<!--                                    <h2 class="accordion-header" id="medicineDetailHeadingTwo">-->
<!--                                        <button class="accordion-button collapsed px-0" type="button"-->
<!--                                            data-bs-toggle="collapse" data-bs-target="#medicine-flush-collapseTwo"-->
<!--                                            aria-expanded="false" aria-controls="medicine-flush-collapseTwo">-->
<!--                                            Medicine 2-->
<!--                                        </button>-->
<!--                                    </h2>-->
<!--                                    <div id="medicine-flush-collapseTwo" class="accordion-collapse collapse"-->
<!--                                        aria-labelledby="medicineDetailHeadingTwo"-->
<!--                                        data-bs-parent="#medicineDetailAccordian">-->
<!--                                        <div class="accordion-body">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Name of Medicine</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Caregiver Name">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Medicine Type</label>-->
<!--                                                    <select class="form-select">-->
<!--                                                        <option value="1">adhesive(s)</option>-->
<!--                                                        <option value="2" selected>capsule(s)</option>-->
<!--                                                        <option value="3">cachet(s)</option>-->
<!--                                                        <option value="4">cream(s)</option>-->
<!--                                                        <option value="5">dragee(s)</option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Number of Days</label>-->
<!--                                                    <select class="form-select">-->
<!--                                                        <option value="1" selected>Monday</option>-->
<!--                                                        <option value="2">Tuesday</option>-->
<!--                                                        <option value="3">Wednesday</option>-->
<!--                                                        <option value="4">Thursday</option>-->
<!--                                                        <option value="5">Friday</option>-->
<!--                                                        <option value="6">Saturday</option>-->
<!--                                                        <option value="7">Sunday</option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Schedule Time</label>-->
<!--                                                    <select class="form-select">-->
<!--                                                        <option value="1" selected>Before Breakfast - Simastatin</option>-->
<!--                                                        <option value="2">After Breakfast - Loratadine</option>-->
<!--                                                        <option value="3">Before Lunch - Montelukast</option>-->
<!--                                                        <option value="4">After Lunch - Simvastatin</option>-->
<!--                                                        <option value="5">Before Dinner - Loratadine</option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Choose the level of engagement you desire</label>-->
<!--                                                    <select class="form-select">-->
<!--                                                        <option value="1" selected>Daily - Morning and Evening</option>-->
<!--                                                        <option value="2">Daily - Morning,Lunch,Evening,Dinner</option>-->
<!--                                                        <option value="3">As per prescription</option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="accordion-item">-->
<!--                                    <h2 class="accordion-header" id="medicineDetailHeadingThree">-->
<!--                                        <button class="accordion-button collapsed px-0" type="button"-->
<!--                                            data-bs-toggle="collapse" data-bs-target="#medicine-flush-collapseThree"-->
<!--                                            aria-expanded="false" aria-controls="medicine-flush-collapseThree">-->
<!--                                            Medicine 3-->
<!--                                        </button>-->
<!--                                    </h2>-->
<!--                                    <div id="medicine-flush-collapseThree" class="accordion-collapse collapse"-->
<!--                                        aria-labelledby="medicineDetailHeadingThree"-->
<!--                                        data-bs-parent="#medicineDetailAccordian">-->
<!--                                        <div class="accordion-body">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Name of Medicine</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Caregiver Name">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Medicine Type</label>-->
<!--                                                    <select class="form-select">-->
<!--                                                        <option value="1">adhesive(s)</option>-->
<!--                                                        <option value="2" selected>capsule(s)</option>-->
<!--                                                        <option value="3">cachet(s)</option>-->
<!--                                                        <option value="4">cream(s)</option>-->
<!--                                                        <option value="5">dragee(s)</option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Number of Days</label>-->
<!--                                                    <select class="form-select">-->
<!--                                                        <option value="1" selected>Monday</option>-->
<!--                                                        <option value="2">Tuesday</option>-->
<!--                                                        <option value="3">Wednesday</option>-->
<!--                                                        <option value="4">Thursday</option>-->
<!--                                                        <option value="5">Friday</option>-->
<!--                                                        <option value="6">Saturday</option>-->
<!--                                                        <option value="7">Sunday</option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Schedule Time</label>-->
<!--                                                    <select class="form-select">-->
<!--                                                        <option value="1" selected>Before Breakfast - Simastatin</option>-->
<!--                                                        <option value="2">After Breakfast - Loratadine</option>-->
<!--                                                        <option value="3">Before Lunch - Montelukast</option>-->
<!--                                                        <option value="4">After Lunch - Simvastatin</option>-->
<!--                                                        <option value="5">Before Dinner - Loratadine</option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Choose the level of engagement you desire</label>-->
<!--                                                    <select class="form-select">-->
<!--                                                        <option value="1" selected>Daily - Morning and Evening</option>-->
<!--                                                        <option value="2">Daily - Morning,Lunch,Evening,Dinner</option>-->
<!--                                                        <option value="3">As per prescription</option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="accordion-item">-->
<!--                                    <h2 class="accordion-header" id="medicineDetailHeadingFour">-->
<!--                                        <button class="accordion-button collapsed px-0" type="button"-->
<!--                                            data-bs-toggle="collapse" data-bs-target="#medicine-flush-collapseFour"-->
<!--                                            aria-expanded="false" aria-controls="medicine-flush-collapseFour">-->
<!--                                            Medicine 4-->
<!--                                        </button>-->
<!--                                    </h2>-->
<!--                                    <div id="medicine-flush-collapseFour" class="accordion-collapse collapse"-->
<!--                                        aria-labelledby="medicineDetailHeadingFour"-->
<!--                                        data-bs-parent="#medicineDetailAccordian">-->
<!--                                        <div class="accordion-body">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Name of Medicine</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Caregiver Name">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Medicine Type</label>-->
<!--                                                    <select class="form-select">-->
<!--                                                        <option value="1">adhesive(s)</option>-->
<!--                                                        <option value="2" selected>capsule(s)</option>-->
<!--                                                        <option value="3">cachet(s)</option>-->
<!--                                                        <option value="4">cream(s)</option>-->
<!--                                                        <option value="5">dragee(s)</option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Number of Days</label>-->
<!--                                                    <select class="form-select">-->
<!--                                                        <option value="1" selected>Monday</option>-->
<!--                                                        <option value="2">Tuesday</option>-->
<!--                                                        <option value="3">Wednesday</option>-->
<!--                                                        <option value="4">Thursday</option>-->
<!--                                                        <option value="5">Friday</option>-->
<!--                                                        <option value="6">Saturday</option>-->
<!--                                                        <option value="7">Sunday</option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Schedule Time</label>-->
<!--                                                    <select class="form-select">-->
<!--                                                        <option value="1" selected>Before Breakfast - Simastatin</option>-->
<!--                                                        <option value="2">After Breakfast - Loratadine</option>-->
<!--                                                        <option value="3">Before Lunch - Montelukast</option>-->
<!--                                                        <option value="4">After Lunch - Simvastatin</option>-->
<!--                                                        <option value="5">Before Dinner - Loratadine</option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Choose the level of engagement you desire</label>-->
<!--                                                    <select class="form-select">-->
<!--                                                        <option value="1" selected>Daily - Morning and Evening</option>-->
<!--                                                        <option value="2">Daily - Morning,Lunch,Evening,Dinner</option>-->
<!--                                                        <option value="3">As per prescription</option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                            <div class="add__btn">
                                Add Medicine
                            </div>
                            <div class="accordion accordion-flush" id="doctorDetailAccordian">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="doctorDetailHeadingOne">
                                        <button class="accordion-button collapsed px-0" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#doctor-flush-collapseOne"
                                            aria-expanded="false" aria-controls="doctor-flush-collapseOne">
                                            Doctor 1 Details
                                        </button>
                                    </h2>
                                    <div id="doctor-flush-collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="doctorDetailHeadingOne"
                                        data-bs-parent="#doctorDetailAccordian">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-lg-6 mb-3">
                                                    <label>Doctor Name 1</label>
                                                    <input id='doctor_name' type="text" class="form-control"
                                                        placeholder="Enter Doctor Name ">
                                                </div>
                                                <div class="col-12 col-lg-6 mb-3">
                                                    <label>Doctor’s Phone Number</label>
                                                    <input id='doctor_phone_no' type="text" class="form-control"
                                                        placeholder="Enter Doctor’s Phone Number">
                                                </div>
                                                <div class="col-12 col-lg-6 mb-3">
                                                    <label>Name of Hospital/Clinic</label>
                                                    <input id='hospital_name' type="text" class="form-control"
                                                        placeholder="Name of Hospital/Clinic">
                                                </div>
                                                <div class="col-12 col-lg-6 mb-3">
                                                    <label>City</label>
                                                    <input id='city' type="text" class="form-control" placeholder="Enter City">
                                                </div>
                                                <div class="col-12 col-lg-12 mb-3">
                                                    <label>Ailment for which being treated</label>
                                                    <input id='ailment' type="text" class="form-control"
                                                        placeholder="Enter Ailment for which being treated">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!--                                <div class="accordion-item">-->
<!--                                    <h2 class="accordion-header" id="doctorDetailHeadingTwo">-->
<!--                                        <button class="accordion-button collapsed px-0" type="button"-->
<!--                                            data-bs-toggle="collapse" data-bs-target="#doctor-flush-collapseTwo"-->
<!--                                            aria-expanded="false" aria-controls="doctor-flush-collapseTwo">-->
<!--                                            Doctor 2 Details-->
<!--                                        </button>-->
<!--                                    </h2>-->
<!--                                    <div id="doctor-flush-collapseTwo" class="accordion-collapse collapse"-->
<!--                                        aria-labelledby="doctorDetailHeadingTwo"-->
<!--                                        data-bs-parent="#doctorDetailAccordian">-->
<!--                                        <div class="accordion-body">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Doctor Name 2</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Doctor Name 4">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Doctor’s Phone Number</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Doctor’s Phone Number">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Name of Hospital/Clinic</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Name of Hospital/Clinic">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>City</label>-->
<!--                                                    <input type="text" class="form-control" placeholder="Enter City">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-12 mb-3">-->
<!--                                                    <label>Ailment for which being treated</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Ailment for which being treated">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="accordion-item">-->
<!--                                    <h2 class="accordion-header" id="doctorDetailHeadingThree">-->
<!--                                        <button class="accordion-button collapsed px-0" type="button"-->
<!--                                            data-bs-toggle="collapse" data-bs-target="#doctor-flush-collapseThree"-->
<!--                                            aria-expanded="false" aria-controls="doctor-flush-collapseThree">-->
<!--                                            Doctor 3 Details-->
<!--                                        </button>-->
<!--                                    </h2>-->
<!--                                    <div id="doctor-flush-collapseThree" class="accordion-collapse collapse"-->
<!--                                        aria-labelledby="doctorDetailHeadingThree"-->
<!--                                        data-bs-parent="#doctorDetailAccordian">-->
<!--                                        <div class="accordion-body">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Doctor Name 3</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Doctor Name 4">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Doctor’s Phone Number</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Doctor’s Phone Number">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Name of Hospital/Clinic</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Name of Hospital/Clinic">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>City</label>-->
<!--                                                    <input type="text" class="form-control" placeholder="Enter City">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-12 mb-3">-->
<!--                                                    <label>Ailment for which being treated</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Ailment for which being treated">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="accordion-item">-->
<!--                                    <h2 class="accordion-header" id="doctorDetailHeadingFour">-->
<!--                                        <button class="accordion-button collapsed px-0" type="button"-->
<!--                                            data-bs-toggle="collapse" data-bs-target="#doctor-flush-collapseFour"-->
<!--                                            aria-expanded="false" aria-controls="doctor-flush-collapseFour">-->
<!--                                            Doctor 4 Details-->
<!--                                        </button>-->
<!--                                    </h2>-->
<!--                                    <div id="doctor-flush-collapseFour" class="accordion-collapse collapse"-->
<!--                                        aria-labelledby="doctorDetailHeadingFour"-->
<!--                                        data-bs-parent="#doctorDetailAccordian">-->
<!--                                        <div class="accordion-body">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Doctor Name 4</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Doctor Name 4">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Doctor’s Phone Number</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Doctor’s Phone Number">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Name of Hospital/Clinic</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Name of Hospital/Clinic">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>City</label>-->
<!--                                                    <input type="text" class="form-control" placeholder="Enter City">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-12 mb-3">-->
<!--                                                    <label>Ailment for which being treated</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Ailment for which being treated">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                            <div class="add__btn">
                                Add Doctor
                            </div>
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingOne">
                                        <button class="accordion-button collapsed px-0" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                            aria-expanded="false" aria-controls="flush-collapseOne">
                                            Caregiver 1 Details
                                        </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 col-lg-6 mb-3">
                                                    <label>Caregiver Name</label>
                                                    <input id='caregiver_name' type="text" class="form-control"
                                                        placeholder="Enter Caregiver Name">
                                                </div>
                                                <div class="col-12 col-lg-6 mb-3">
                                                    <label>Phone Number</label>
                                                    <input id='phone_no' type="text" class="form-control"
                                                        placeholder="Enter Phone Number">
                                                </div>
                                                <div class="col-12 col-lg-6 mb-3">
                                                    <label>Email</label>
                                                    <input id='email' type="text" class="form-control"
                                                        placeholder="Enter Email Id">
                                                </div>
                                                <div class="col-12 col-lg-6 mb-3">
                                                    <label>Relation</label>
                                                    <input id='relation' type="text" class="form-control"
                                                        placeholder="Enter Relation">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!--                                <div class="accordion-item">-->
<!--                                    <h2 class="accordion-header" id="flush-headingTwo">-->
<!--                                        <button class="accordion-button collapsed px-0" type="button"-->
<!--                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"-->
<!--                                            aria-expanded="false" aria-controls="flush-collapseTwo">-->
<!--                                            Caregiver 2 Details-->
<!--                                        </button>-->
<!--                                    </h2>-->
<!--                                    <div id="flush-collapseTwo" class="accordion-collapse collapse"-->
<!--                                        aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">-->
<!--                                        <div class="accordion-body">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Caregiver Name</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Caregiver Name">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Phone Number</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Phone Number">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Email</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Email Id">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Relation</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Relation">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="accordion-item">-->
<!--                                    <h2 class="accordion-header" id="flush-headingThree">-->
<!--                                        <button class="accordion-button collapsed px-0" type="button"-->
<!--                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"-->
<!--                                            aria-expanded="false" aria-controls="flush-collapseThree">-->
<!--                                            Caregiver 3 Details-->
<!--                                        </button>-->
<!--                                    </h2>-->
<!--                                    <div id="flush-collapseThree" class="accordion-collapse collapse"-->
<!--                                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">-->
<!--                                        <div class="accordion-body">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Caregiver Name</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Caregiver Name">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Phone Number</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Phone Number">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Email</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Email Id">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Relation</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Relation">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="accordion-item">-->
<!--                                    <h2 class="accordion-header" id="flush-headingFour">-->
<!--                                        <button class="accordion-button collapsed px-0" type="button"-->
<!--                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseFour"-->
<!--                                            aria-expanded="false" aria-controls="flush-collapseFour">-->
<!--                                            Caregiver 4 Details-->
<!--                                        </button>-->
<!--                                    </h2>-->
<!--                                    <div id="flush-collapseFour" class="accordion-collapse collapse"-->
<!--                                        aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">-->
<!--                                        <div class="accordion-body">-->
<!--                                            <div class="row">-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Caregiver Name</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Caregiver Name">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Phone Number</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Phone Number">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Email</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Email Id">-->
<!--                                                </div>-->
<!--                                                <div class="col-12 col-lg-6 mb-3">-->
<!--                                                    <label>Relation</label>-->
<!--                                                    <input type="text" class="form-control"-->
<!--                                                        placeholder="Enter Relation">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                            <div class="add__btn">
                                Add Caregiver
                            </div>

                        </div>
                        <button onclick="savePrescription()" class="submit__btn">Submit</button>
                </div>
            </div>
            <div class="col-12 col-lg-5 right__container">
                <div id="slider">
                    <div class="slides">
                        <img src="/static/assets/images/slider1img.png" />
                    </div>
                    <div class="slides">
                        <img src="/static/assets/images/frame2.png" />
                    </div>
                    <div id="dot"><span class="dot"></span><span class="dot"></span></div>
                </div>

            </div>
        </div>
    </div>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<script type="text/javascript">
    jQuery('#number_days').selectpicker();
</script>

<script>

function updateScheduleTime(data){
    console.log('current input value')
    medicine_name = document.getElementById('medicine_name').value
    console.log(medicine_name)
    var length = $('#schedule_time > option'). length;
    console.log(length)
    for (let i = 1; i <= length; i++) {
    console.log($("#schedule_time").val('1').change())
    }
}


function changeFileStatus(event){
  console.log(event.files[0].name)
  console.log(event.files)
}

function savePrescription(){
$('.loader').css('display','block')
    var formData = {}
    subscriber1 = document.getElementById('subscriber1').value
    console.log(subscriber1)
    if (subscriber1){
        formData['subscriber1'] = subscriber1
    }
    subscriber2 = document.getElementById('subscriber2').value
    if (subscriber2){
        formData['subscriber2'] = subscriber2
    }
    subscriber3 = document.getElementById('subscriber3').value
    if (subscriber3){
        formData['subscriber3'] = subscriber3
    }
    subscriber4 = document.getElementById('subscriber4').value
    if (subscriber4){
        formData['subscriber4'] = subscriber4
    }

    medicine_name = document.getElementById('medicine_name').value
    if (medicine_name){
        formData['medicine_name'] = medicine_name
    }
    medicine_type = $("select#medicine_type option").filter(":selected").val();
    if (medicine_type){
        formData['medicine_type'] = medicine_type
    }
    number_days = $("select#number_days option").filter(":selected").val();
    if (number_days){
        formData['number_days'] = number_days
    }

    schedule_time = $("select#schedule_time option").filter(":selected").val();
    if (schedule_time){
        formData['schedule_time'] = schedule_time
    }
    engagement = $("select#engagement option").filter(":selected").val();
    if (engagement){
        formData['engagement'] = engagement
    }
    doctor_name = document.getElementById('doctor_name').value
    if (doctor_name){
        formData['doctor_name'] = doctor_name
    }
    doctor_phone_no = document.getElementById('doctor_phone_no').value
    if (doctor_phone_no){
        formData['doctor_phone_no'] = doctor_phone_no
    }
    hospital_name = document.getElementById('hospital_name').value
    if (hospital_name){
        formData['hospital_name'] = hospital_name
    }
    ailment = document.getElementById('ailment').value
    if (ailment){
        formData['ailment'] = ailment
    }
    city = document.getElementById('city').value
    if (city){
        formData['city'] = city
    }

    caregiver_name = document.getElementById('caregiver_name').value
    if (caregiver_name){
        formData['caregiver_name'] = caregiver_name
    }
    phone_no = document.getElementById('phone_no').value
    if (phone_no){
        formData['phone_no'] = phone_no
    }
    email = document.getElementById('email').value
    if (email){
        formData['email'] = email
    }
    relation = document.getElementById('relation').value
    if (relation){
        formData['relation'] = relation
    }

<!--    var form = $('file-form')[0];-->
<!--    var fileFormData = new FormData(form);-->
<!--    fileFormData.append('files', $('input[type=file]')[0].files);-->
<!--    console.log(fileFormData)-->

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    $.ajax({
          type: 'POST',
          url:'/prescription',
          headers:{
          'X-CSRFToken': csrftoken,
          'contentType': 'application/json',
          },
          data:formData,
          dataType: 'json',
          success: function(data){
          $('.loader').css('display','none')
              window.location.reload()
          },
          error: function(){
          $('.loader').css('display','none')
              window.location.reload()
          },
      });
}

</script>

{% endblock content %}